<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo"
               [(ngModel)]="model.alterEgo" name="alterEgo">
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power"
                required
                [(ngModel)]="model.power" name="power"
                #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
      <i>without</i> reset

     <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div>
     <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

<!-- ====================================================  -->
  <div>
    <form>

       <!-- ... all of the form ... -->

    </form>
  </div>

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
<div class="no-style" style="margin-left: 4px">
  <div class="container">
      <h1>Hero Form</h1>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control" id="power" required>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div>

  <!-- ====================================================  -->
  <hr>
  <div class="container">
      <h1>Hero Form</h1>
      <form #heroForm="ngForm">
        {{diagnostic}}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name">
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text"  class="form-control" id="alterEgo"
                 [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control"  id="power"
                  required
                  [(ngModel)]="model.power" name="power">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
      <div style="display:flex;justify-content:center;align-items:center;">
        <div>
          <video 
            autoplay="" 
            controls="" 
            loop="" 
            muted="muted" 
            poster="https://angle.gitlab.io/assets/omzmE.jpg" 
            src="https://angle.gitlab.io/assets/flash.mp4" 
            width="100%">
          </video>
        </div>
        <div>
          <svg 
            width="24px" 
            height="24px" 
            class="JUQOtc orgUxc" 
            viewBox="0 0 24 24">
            <path 
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z">
            </path>
          </svg>
          <svg 
            viewBox="0 0 24 24" 
            preserveAspectRatio="xMidYMid meet" 
            focusable="false" 
            style="pointer-events: none; display: block; width: 100%; height: 100%;" 
            class="style-scope yt-icon">
            <g 
              class="style-scope yt-icon">
            <path 
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" 
              class="style-scope yt-icon">
            </path>
            </g>
          </svg>
          <img 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABrElEQVQ4jaWVMWvbUBSFP71sEsgQyBBooIOHYEnOHIyH0smlBU8Z8gPikGBPcSAhU4a20E41hXrs1s2DQVvIYETmWFImQyAJZDNYIEOGoAxCiqyqroXP9vS4ny7vnneeFARBQIbMcZ+bqYM1GeD4QwB0pUylUEWTDWqrH7PKkNJAxx/SGu3jTu3MgkiabPCj+AtdKf8b+O3+M98fvswFpdXeOOXozUm8FsvAorru48/ZDh1/yPthJTcsqYuyha6Uww6bo8ZSMIDWaB8AEU0zjzTZoL1xOvPNndqY4z7C9edPMwvW00321g9QVwqzUN9GWN4gN0xCou7U8J4nM/uWN0BEpk1KXSmgycZcWJZPXd9+tU1Svzf/0NPNGLoIDCAgQKSdDnB2e4yERE832VnbXQgG4dUUFbX6d+tTm7pTQ0KiU+wuBAOoqFWEphiZmxH0/uluIRiAphjhTXl3vZ3bi2mVZJ3LratwKJ1idylYkiEgPMxkYuTV+duvcYzFtknHUB5YY/0wXmcGbHPU+O+ZlmSdTrE7P2CTMsd9XN/G8lJPgFpFUww+rH7K/NELQRrDpqLC+XEAAAAASUVORK5CYII=" 
            alt="green check" 
            width="24px" 
            height="24px" 
          />
        </div>
      </div>
  </div>
